.fa {
  padding: 30px 30px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 250px;
  border-radius: 20%;
}
.fa:hover {
  transition: all 2s ease;
  opacity: 0.7;
}

.fa:not(:hover) {
  transition: all 2s ease;
  opacity: 1;
}

.fa-facebook {
  display: inline-block;
  margin: 0;
  background: #3b5998;
  color: white;
}
.fa-twitter {
  display: inline-block;
  margin: 0;
  background: #55acee;
  color: white;
}

.fa-instagram {
  display: inline-block;
  margin: 0;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: white;
}
.social-wrapper {
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  right: 50%;
  text-align: center;
  overflow-x: auto;
}
